<p id="notice"><%= notice %></p>
<h2>Article</h2>


<p>
  <b>Article Category:</b>
  <%= @article.article_category.name %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>


<p>
  <b>Subtitle:</b>
  <%= @article.subtitle %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<p>
  <b>Date:</b>
  <%= @article.date %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> | 
<%= link_to 'New Gallery', new_gallery_path %> | 
<%= link_to 'New Video', new_video_path %>


<% @galleries = Gallery.where(:article_id =>params[:id]) %>
<%if @galleries != []%>
<hr />
<h4>Galleries</h4>

<table>
  <tr>
    <th>Name</th>
    <th>Article</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%= link_to gallery.name, "http://localhost:3000/filter_gallery_items/#{gallery.id}" %> </td>
    <td><%= gallery.article.title %></td>
    <td><%= gallery.date %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
    <td>Preview</td>
    <td>Description</td>
    <td colspan="3">Actions</td>
  </tr>
  <% gallery.gallery_items.each do |gallery_item| %>
  <tr>
    <td><%= image_tag gallery_item.image.url(:iphone_thumb) %> </td>
    <td><%= gallery_item.description %></td>
    <td><%= link_to 'Show', gallery_item %></td>
    <td><%= link_to 'Edit', edit_gallery_item_path(gallery_item) %></td>
    <td><%= link_to 'Destroy', gallery_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <%end%>
<% end %>
</table>

<br />

<%end%>


<%@videos = Video.where(:article_id =>params[:id])%>
<%if @videos != [] %>
<hr />
<h4>Videos</h4>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Url</th>
    <th>Article</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= image_tag video.image.url(:iphone_thumb) %></td>
    <td><%= video.url %></td>
    <td><%= video.article.title %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%end%>
