<h1>Listing videos</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Url</th>
    <th>Article</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= image_tag video.image.url(:iphone_thumb) %></td>
    <td><%= video.url %></td>
    <td><%= video.article.title %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
