<p id="notice"><%= notice %></p>



<p>
 <%= image_tag @video.image.url(:iphone_gallery) %>
</p>

<p>
  <b>Url:</b>
  <%= @video.url %>
</p>

<p>
  <b>Article:</b>
  <%= @video.article.title %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
